#contact {
    background-color: #fff;
    background-image: url(../img/menubg-70prcnt.png);
    background-position: top left;
    background-repeat: repeat;
    margin:0px;
    padding: 15px 0 15px 0;
    font-family: 'Playfair Display', serif;
}

label, input {
    display: block;
}

label {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

input {
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

textarea {
    width: 90%;
    margin: 0px auto 20px auto;
    padding: 10px;
    font-size: 1rem;
}

form  {
    padding: 15px;
    text-align: center;
}

input[type=submit] {
    width: 120px;
    height: 50px;
    font-size: 1rem;
}

.contact-bg {
    background-color: #fff;
    margin: 30px auto 30px auto;
    padding: 20px;
    width: 40%;
    border: 1px solid black;
    border-radius:20px;
}