body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* title */

#title {
    background-color: #AD8B73;
    color: #fff;
    margin: 0;
    padding: 5px 15px 5px 15px;
    height: 80px;
    /* position: fixed;
    width: 100%;
     */
}


#title img {
    height: 81px;
    width: 111px;
    padding:0px 0 0 106px;
}

.nav-bar{
    display: inline-block;
}

.nav-bar li, a {
    font-size: 1.2rem;
    color: #fff;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    padding: 5px 15px 5px 0;
    position: relative; 
    bottom: 17px;
}

.nav-bar li:hover{
    font-weight: 700;
}


@media (max-width: 900px) {

    #title img {
        height: 81px;
        width: 111px;
        padding:0px 0 0 0px;
    }
}


/* Footer */
#footer {
    background-color: #AD8B73;
    color: #fff;
    height: 100px;
    text-align: center;
    position: relative;
    margin: 0;
}

.soc-icons {
    padding: 30px 0 0 15px;
}