
/* ------------------------------------------------- */
.main-bg {
    background-color: #CEAB93;
    margin: 0 auto 0 auto;
    background-image: url("../img/main-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}



/* about */

/* #about {
    background-color: #CEAB93;
    margin: 0 auto 0 auto;
    background-image: url("../img/about-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-whitebg {
    background-color: #fff;
    opacity: 0.8;
    margin: auto;
    padding: 5px 10px 5px 10px;
} */

.about-whitebg {
    margin: auto;
    padding: 5px 10px 5px 10px;
} 

.about-whitebg h2 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin: auto;
    padding: 20px 0 20px 0;
}

.about-whitebg p {
    /* font-size: 1.5rem; */
    line-height: 3rem;
    font-weight: 500;
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 40px;
}
/* --------------------------------------------------- */



/* menu */
/* 
#menu {
    background-color: #AD8B73;
    padding: 10px 0;
}

#menu h2 {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    border-bottom: 2px solid ;
}

.menu1 li {
    list-style-type: none;
}

.menu2 li {
    list-style-type: none;
}

.menu1 {
    width: 60%;
    margin: 30px auto 200px auto;;
    padding: 10px;
}

.menu2 {
    width: 60%;
    margin: 15px auto;
    padding: 10px;
}

.menu1 img{
    float: right;
    height: 500px;
    width: 400px;
}

.menu2 img{
    float: right;
    height: 500px;
    width: 400px;
} */