/* about */

#menu {
    background-color: #fff;
    background-image: url(../img/menubg-70prcnt.png);
    background-position: top left;
    background-repeat: repeat;
    margin:0px;
    padding: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    
}

#menu h2 {
    color: rgb(0, 0, 0);    
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: auto;
    padding: 10px 0 20px 0;
}

#menu li{
    list-style-type: none;
    font-weight: 400;
}


.menu-whitebox {
    background-color: #fff;
    padding: 10px;
    width: 50%;
    line-height: 1.5rem;
    border: 1px solid black;
    border-radius:20px;
    margin: 10px;
}

.menu1 {
    width: 70%;
    margin: 10px auto 50px auto;
    padding: 50px 0 50px 0;
    border-top: 1px solid rgb(70, 67, 67);
}

.menu1 img{

    width: 30%;
    position: absolute;
    top: 43%;
    left: 55%;
}



@media (max-width: 900px) {

    .menu-whitebox {
        background-color: #fff;
        padding: 10px;
        width: 100%;
        line-height: 1.5rem;
        border: 1px solid black;
        border-radius:20px;
        margin: 10px;
    }
    

    .menu1 img{
        width: 100%;
        margin: auto;
        position: static;
        top: 50%;
        left: 55%;
    }
    
}